@import '../../styles/variables.css';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: var(--spacing-4) var(--spacing-10);
}

.navbar__nav {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 100%;
}

.navbar__logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.navbar__nav-list {
  display: none;
  margin: 0;
  padding: 0;
  gap: var(--spacing-6);
}

.navbar__actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-6);
}

@media (min-width: 75em) {
  .navbar__nav {
    flex: 1;
  }

  .navbar__nav-list {
    display: flex;
    flex: 1;
  }

  .navbar__logo-container {
    justify-content: center;
  }

  .navbar__logo-image {
    margin-right: 0px;
  }
}
