@import '../../styles/variables.css';

.nav-button__container {
  display: inline-block;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-button__container:hover .nav-button__children {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  border-top: 1px solid var(--background-secondary);
}

.nav-button__link {
  font-weight: bold;
  cursor: pointer;
}

.nav-button__link:hover {
  opacity: 0.7;
}

.nav-button__children {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}
