@import '../../styles/variables.css';

.login__main {
  width: 440px;
  max-width: 100%;
  margin: 0px auto var(--spacing-6) auto;
}

.login__input {
  margin-bottom: var(--spacing-4);
}

.login__submit-btn {
  width: 100%;
  margin: var(--spacing-6) 0px;
}

.login__link {
  margin-bottom: var(--spacing-2);
}
