@import '../../styles/variables.css';

.text-link {
  position: relative;
  font-size: var(--text-base);
  color: var(--text-subdued);
}

.text-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.text-link:hover::after {
  transform: scaleX(0);
}
