@import '../../styles/variables.css';

.side-menu {
  position: fixed;
  top: var(--spacing-3);
  right: var(--spacing-3);
  bottom: var(--spacing-3);
  width: 568px;
  height: calc(100vh - (var(--spacing-3) * 2));
  background-color: var(--background-primary);
  z-index: 200;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(calc(100% + var(--spacing-3)));
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.side-menu--open {
  transform: translateX(0);
}
